/* FONTS */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

/* VARIABupdateLES */
:root {
    --main-bg-color: #101010;
    --main-text-color: greenyellow;
}

/* MAIN */
body {
    color: var(--main-text-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 10px;
    background-color: var(--main-bg-color);
    margin: 10px;
}

h1 {
	color: var(--main-text-color);
	font-family: 'IBM Plex Mono', monospace;
	font-size: 10px;
	letter-spacing: 8px;
	background-color: var(--main-bg-color);
	margin: 10px;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: var(--main-bg-color);
	background-color: var(--main-text-color);
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

a {
    color: tomato;
}

a:hover {
    color: yellow;
    cursor: pointer;
}

/* Background Styles Only */

.grid-container {
  position: relative;
  padding: 10px;
  width: 100%;
  /* GRID */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 75vh auto auto;
  /* ITEMS INSIDE */
  justify-content: center;
  align-content: center;
  /* height: 100vh; */
}

.grid-item-1{
    border: 1px solid var(--main-text-color);
    position: relative;
    font-size: 10px;
    padding: 20px;
    padding-top: 10px;
}

.grid-item-2 {
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}

.grid-item-3 {
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}

.grid-item-4 {
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}

.grid-item-5 {
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}

.grid-item-6 {
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}

.grid-item-7 {
  grid-column: span 3;
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}

.grid-item-8 {
  grid-column: span 3;
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}

.grid-item-9 {
  grid-column: span 3;
  border: 1px solid var(--main-text-color);
  position: relative;
  font-size: 10px;
  padding: 20px;
  padding-top: 10px;
}


